

.imageright {
    width: 350px;
    height: 200px;
    float: right;
    margin: 0px 0px 15px 15px;
}
.imageleft {
    width: 350px;
    height: 200px;
}
.right {
    overflow: hidden;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 30px;
    padding-top: 100px;
    background: linear-gradient(90deg, rgba(72,72,77,1) 19%, rgba(107,106,116,1) 83%);
    color: white;
    
}
.left {
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
    padding-top: 30px;
    background: linear-gradient(90deg, rgba(72,72,77,1) 19%, rgba(107,106,116,1) 83%);
    color: white;
}
.first {
    padding:100px;
    background: white;
    color: black;
}

.detailsleft {
    float:right;
    width: 50%;
}
.detailsright {
    float:left;
    width: 50%;
}


@media only screen and (max-width : 598px) {
    .right, .left, .first {
        padding-left: 40px;
    padding-right: 40px;
    }
    .detailsleft, .detailsright {
        width: 100%;
        padding-bottom: 40px;
    }
    .imageright, .imageleft {
        display: block;
        margin-left: auto;
        margin-right: auto;
        float: none;
    }
}

@media only screen and (min-width : 599px) and (max-width : 992px){
    .detailsleft, .detailsright {
        width: 100%;
        padding-bottom: 40px;
    }
    .imageright, .imageleft {
        display: block;
        margin-left: auto;
        margin-right: auto;
        float: none;
    }
}