.slide {
	overflow: hidden;
}
.image {
    width: 200px;
    height: 450px;
    float: left;
    margin-left: 100px;
    padding-bottom: 100px;
    padding-top: 20px;

}
.details {
    padding-top: 20px;
}
.details, .button {
    overflow: hidden;
    padding-left: 40px;
}
.details h2 {
    margin-left: -5px;
}
.button button {
    margin-right: 10px;
    font-weight: bold;
    
}
.btn.btn-primary {
    background-color: #347ea3;
    border-color: #347ea3
}
.btn.btn-outline-dark {
    color: white;
    border-color: white;
}
.icon {
    width: 24px;
    height: 24px;
}

@media only screen and (max-width : 598px) {
.image {
    margin-left: 10px;
}
.button button {
    margin-right: 10px;
    font-weight: bold;
    width: 80px;
    height: 40px;
    font-size: x-small;
}
.icon {
    width: 10px;
    height: 10px;
}
}